.box1_v2 {
  border: 0.05rem solid black;
  padding: 2em;
  margin: 2em;
  text-align: center;
  background: rgb(110,164,40);
  background: linear-gradient(90deg, rgba(110,164,40,1) 35%, rgba(244,230,81,1) 100%);
  border-radius: 0.75em;
  width: 80%;
  justify-self: center;
}

.box1_v2 h1, .box1_v2 p {
  color: white;
  font-weight: 600;
  
}

.box1_v2 h1 {
  font-size: 2rem;
}

.box1_v2 p {
  font-size: 1.25rem;
}

.button {
  width: 10em;
  height:fit-content;
  height: auto;
  border: none;
  color: black;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  margin: 1rem 1rem;
  cursor: pointer;
  border-radius: 1em;
  font-size: larger;
  font-weight: 600;
}

.button1 {
  background-color: yellow;
  margin-right: 0.5rem;
  /* font-size: calc(1vw + 1vh); */
  font-size: 1.2rem;
}

.button2 {
  background-color: whitesmoke;
  /* margin-left: 0.5rem; */
  /* font-size: calc(1vw + 1vh); */
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}