.box1 {
  border: 0.05rem solid black;
  border-radius: 0.75em;
  padding: 2em;
  margin: 2em 5em 0em 5em;
  text-align: center;
  background: rgb(150,58,61);
  background: linear-gradient(90deg, rgba(150,58,61,1) 35%, rgba(200,186,33,1) 100%);
  width: 88%;
  /* max-width: 100%; */
  justify-self: center;
}

.box1 h1, .box1 p {
  color: white;
  font-weight: 600;
  
}

.box1 h1 {
  font-size: 2rem;
}

.box1 p {
  font-size: 1.2rem;
}

.button {
  width: 10em;
  height:fit-content;
  height: auto;
  border: none;
  color: black;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  margin: 1rem 1rem;
  cursor: pointer;
  border-radius: 1em;
  font-size: larger;
  font-weight: 600;
}

.button1 {
  background-color: yellow;
  margin-right: 0.5rem;
  /* font-size: calc(1vw + 1vh); */
  font-size: 1.2rem;
}

.button2 {
  background-color: whitesmoke;
  /* margin-left: 0.5rem; */
  /* font-size: calc(1vw + 1vh); */
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .box1 {
    width: 90%;
  }

  .button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}