.all-footer {
    background-color: #963A3D;
    max-width: 100%;
    justify-self: center;
    margin-top: 2em;
    padding: 20px;
    color: white;
}

#service_header_title {
    text-align: center;
}

#service_header_aboutus_paragraph{
    margin-top: 0.9em;
    line-height: 1.8;
}

.footer-service-list{
    text-indent: 1px;
    line-height: 2.25;
}

.all-footer a {
    color: #2FBFED; 
    text-decoration: none;
  }
  
  .all-footer a:hover {
    color: #2FBFED; 
    text-decoration: underline; 
  }

.footer-item {
    display: flex;
    align-items: center; 
    margin-bottom: 15px; 
}

.footer-item img {
    margin-right: -10px; 
    width: 4em;
    height: auto;
}

.copyright {
    text-align: center;
    margin-top: 2em;
}