.nav-link {
    flex: 1; 
    text-align: center; 
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: #007bff; 
    background-color: rgba(0, 123, 255, 0.1); 
    text-decoration: underline;
}

.nav-link.active {
    font-weight: bold;
    color: #0056b3;
    background-color: rgba(0, 123, 255, 0.2); 
}
