.header2 {
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: red;
  width: 100%;
  height: 62.07px;
  margin-bottom: 40px;
}
.USP {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: none;
  margin-right: 20px;
}

.USP-item {

  width: 25%;
}

.USP-image {
  width: 100%;
  border-radius:100%; 
}