.header1 {
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: red;
  width: 100%;
  height: 62.07px;
  margin-bottom: 40px;
}

.info-bar {
  border-bottom: 1px solid black;
}

.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1 1;
  margin: 0;
}

.inner-section-about-us {
  width: 100%;
}

.image-section-1 {
  width: 50%;
  height: 329.37px;

}

#image-section-1 {
  border-radius: 15%;
}

.introduction-section-1 {
  width: 50%;
  font-size: 30px;
}