.top-bar-grid {
    display: grid;
    background-color: yellow;
    grid-template-columns: 200px auto 200px;
    align-content: center;
    height: 100px;
}

#title-1 {
    color: red;
    font-weight: bold;
    font-size: 30px;
}

#title-2 {
    font-weight: bold;
}

.top-bar-grid .search-box input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}