.top-bar-grid {
    display: grid;
    background-color: rgb(255, 255, 100);
    grid-template-columns: 6em auto 12em;
    align-items: flex-start; 
    height: 6em;
    grid-gap: 0.5em;
}

.logoduck-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    max-width: 100%; 
}

#logoduck {
    /* max-width: 100%;  */
    height: 6em;
}

.tb-title{
    display: flex; 
    flex-direction: column;
    /* justify-content: center;  */
    /* align-items: center;  */
    max-width: 100%; 
}

#tb-title-1 {
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
}

#tb-title-2 {
    margin-top: -0.5em;
    font-weight: bold;
    font-size: 1rem; 
}

.tb-search-box{
    align-items: center;
    margin-right: 1em;
}

.tb-search-box input[type="text"] { 
    width: 100%;
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    align-items: center;
}

@media (max-width: 768px) {
    .top-bar-grid {
        height: 6em;
        /* align-items: center;  */
        grid-template-columns: 5em auto; 
        grid-gap: 0.5em;
        /* grid-template-rows: auto auto;  */
    }

    /* #logoduck {
        display: none; 
    } */

    .logoduck-container {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        max-width: 100%; 
    }
    
    #logoduck {
        max-width: 100%; 
        height: 6em;
    }
    

    .tb-search-box {
         /* grid-column: 1 / -1;  */
         display: none;
    }

    #tb-title-1{
        /* font-size: 1.1rem; */
        font-size: calc(1.25vw + 1.25vh);
    }

    #tb-title-2{
        margin-top: -1em;
        /* font-size: 0.85rem; */
        font-size: calc(1vw + 1vh);
    }
}
